site_name: Rubberdust Notes
site_url: https://dhicosatria.github.io/
theme:
  name: material
  custom_dir: overrides

  language: en

  features:
    # Navigation
    - navigation.tabs
    - navigation.prune
    - navigation.path
    - navigation.sections
    - navigation.top
    - toc.integrate
    - content.code.copy
    - content.tabs.link

    # Search
    - search.suggest
    - search.highlight

    # Content
    - content.code.copy
    - content.tabs.link
    - content.tooltips

  palette:
    # Auto dark/light
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

markdown_extensions:
  #core
  - admonition
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets

  # Tabs
  - pymdownx.tabbed:
      alternate_style: true

  # Mermaid diagrams
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - search


extra_css:
  - styles/extra.css


nav:
  - Home: index.md
  - CTF:
      - Overview: ctf/index.md

      - Events:
          - Advent of Cyber 2025 (Cyberstudent):
              - Overview: ctf/advent-of-cyber_cyberstudent_2025/index.md
              - Day 3 – Syndicate Infrastructure: ctf/advent-of-cyber_cyberstudent_2025/day_3_Syndicate-Infrastructure.md
              - Day 4 – The Elf's Wager: ctf/advent-of-cyber_cyberstudent_2025/day_4_The Elf's Wager.md

      - Categories:
          - Forensics: ctf/forensics.md
          - Crypto: ctf/crypto.md

  - Labs Simulation:
      - Overview: labs_simulate/index.md
      - Automated LFI to NTLMv2 Lab: labs_simulate/automated-lfi-to-ntlmv2-lab.md

  - Projects:
      - Overview: project/index.md
  - Test: test.md
  - About: about.md

